{% extends 'base.html' %}
{% block content %}
    <div class="text-center m-auto mw-500">
        <div class="m-5">
            <h4>병관이한테서 떠날거야?ㅠㅠ</h4>
        </div>
        <div class="m-5">
            <form action="{% url 'accountapp:delete' pk=target_user.pk %}" method="post">
                {% csrf_token %}
                <div class="m-5">
                    <input type="submit" value="힝" class="btn btn-danger rounded-pill px-5">
                </div>
            </form>
        </div>
    </div>
{% endblock %}