{% extends 'base.html' %}

{% block content %}
    <div class="text-center m-auto mw-500">
        <div class="m-5">
            {% if target_user.profile %}
                <img src="{{ target_user.profile.image.url }}"
                     class="profile_image m-4"
                     alt="">
                <h2 class="NNS_B">
                    {{ target_user.profile.nickname }}
                    <a href="{% url 'profileapp:update' pk=target_user.profile.pk %}"
                    class="material-icons round_button">edit</a>
                </h2>
                <h5>{{ target_user.profile.message }}</h5>
            {% else %}
                <h2>
                    <a href="{% url 'profileapp:create' %}">프로필을 생성하시오</a>
                </h2>
            {% endif %}
        </div>

        {% if user == target_user %}
        <div>
            <a href="{% url 'accountapp:update' pk=target_user.pk %}"
               class="material-icons round_button round_button_border mx-1">settings</a>
            <a href="{% url 'accountapp:delete' pk=target_user.pk %}"
               class="material-icons round_button round_button_border mx-1">close</a>
        </div>
        {% endif %}

    </div>
{% endblock %}