.header {
    text-align: center;
    font-family: 'Yomogi', cursive;
    margin: 2rem 0;
}

.footer {
    text-align: center;
    font-family: 'Yomogi', cursive;
    margin: 4rem 0;
}

.mx-500 {
    max-width: 500px;
    padding: 1rem 1.5rem;
}

.profile_image {
    height: 12rem;
    width: 12rem;
    border-radius: 20rem;
    object-fit: cover;
}